#header li{
    float: right;
    display: inline;
    padding-right: 10px;
}

#container{
    text-align: center;
    margin-top: 10%;
}

input[type=text]{
    width: 29%;
    display: block;
    margin-left: 35%;
    margin-bottom: 2%;
}

.clearfix li{
    float: left;
    padding: 10px;
    margin-top: 24%;
}

nav{
    height: 5px;
}

h1#logo{
    margin: 0 auto;
    background-image: url(https://openthread.google.cn/images/ot-contrib-google.png) ;
    height: 250px;
    width: 475px;
}
